.ts-mainarea-right-title{
    height: 45px;
    width: 100%;
    line-height: 45px;
    font-size: 14px;
    background: #fff;
    box-shadow: 2px 2px 5px #868685;
    -moz-box-shadow: 2px 2px 5px #868685;
    -webkit-box-shadow: 2px 2px 5px #868685;
    padding-left: 10px;
    margin-bottom: 15px;
}
.ts-mainarea-right-logo{
    text-align: center;
    margin-top: 200px;
    font-size: 34px;
    color: transparent;
    background-color: #ab9d96;
    text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    -webkit-background-clip: text;
}
