.com-tl-body{
    border: 1px solid #ffffff;
    background: #f7f7f7;
    padding: 10px 10px 5px 10px;
}
.com-tl-body-ul{
    list-style-type:none;
    padding-left: 0px;
    margin: 0px;
    text-align: left;
}
.com-tl-body-ul-li{
    height: 32px;
    line-height: 32px;
    background: #fff;
    padding: 0px 10px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.com-tl-body-ul-li-active{
    background: #4164a5;
    color: #FFF;
}
.com-tl-body-ul-li:hover{
    background: #4164a5;
    color: #fff;
    box-shadow: 2px 2px 5px #b9b3b3;
    -moz-box-shadow: 2px 2px 5px #b9b3b3;
    -webkit-box-shadow: 2px 2px 5px #b9b3b3;
}
