.test:hover>.aaa{
    color: blue
}
.df-left-tree-title-opt{
    float: right;
    margin-right: 10px;
    color: #3963b2;
    display: none;
}
.ant-collapse-item:hover .df-left-tree-title-opt{
    display: inline-block;
}
.dd-mainarea-right-title{
    height: 45px;
    width: 100%;
    line-height: 45px;
    font-size: 14px;
    background: #fff;
    box-shadow: 2px 2px 5px #868685;
    -moz-box-shadow: 2px 2px 5px #868685;
    -webkit-box-shadow: 2px 2px 5px #868685;
    padding-left: 10px;
    margin-bottom: 15px;
}

/* child01 */
.df-table-columns-line{
    text-align: center;
}

.df-child01-table-class .ant-table-thead > tr > th{
    text-align: center;
}

/* child02 */
.df-child01-radio-class .ant-radio-button-wrapper-checked{
    background: #3963b2;
    color: #fff
}
